
:root  {
  --background: 8 66% 95%;
  --foreground: 8 5% 10%;
  --card: 8 50% 90%;
  --card-foreground: 8 5% 15%;
  --popover: 8 66% 95%;
  --popover-foreground: 8 95% 10%;
  --primary: 8 97% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 8 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -30 30% 85%;
  --muted-foreground: 8 5% 40%;
  --accent: -30 30% 80%;
  --accent-foreground: 8 5% 15%;
  --destructive: 0 66% 50%;
  --destructive-foreground: 8 5% 90%;
  --border: 8 30% 53%;
  --input: 8 30% 50%;
  --ring: 8 97% 50%;
  --radius: 1rem;
}
.dark  {
  --background: 8 50% 10%;
  --foreground: 8 5% 90%;
  --card: 8 50% 10%;
  --card-foreground: 8 5% 90%;
  --popover: 8 50% 5%;
  --popover-foreground: 8 5% 90%;
  --primary: 8 97% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 8 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -30 30% 25%;
  --muted-foreground: 8 5% 60%;
  --accent: -30 30% 25%;
  --accent-foreground: 8 5% 90%;
  --destructive: 0 66% 50%;
  --destructive-foreground: 8 5% 90%;
  --border: 8 30% 50%;
  --input: 8 30% 50%;
  --ring: 8 97% 50%;
  --radius: 1rem;
}
