
:root  {
  --background: 37 100% 95%;
  --foreground: 37 5% 0%;
  --card: 37 50% 90%;
  --card-foreground: 37 5% 10%;
  --popover: 37 100% 95%;
  --popover-foreground: 37 100% 0%;
  --primary: 37 79% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 37 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -1 30% 85%;
  --muted-foreground: 37 5% 35%;
  --accent: -1 30% 80%;
  --accent-foreground: 37 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 37 5% 90%;
  --border: 37 30% 50%;
  --input: 37 30% 18%;
  --ring: 37 79% 47%;
  --radius: 0.5rem;
}
.dark  {
  --background: 37 50% 5%;
  --foreground: 37 5% 90%;
  --card: 37 50% 0%;
  --card-foreground: 37 5% 90%;
  --popover: 37 50% 5%;
  --popover-foreground: 37 5% 90%;
  --primary: 37 79% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 37 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -1 30% 15%;
  --muted-foreground: 37 5% 60%;
  --accent: -1 30% 15%;
  --accent-foreground: 37 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 37 5% 90%;
  --border: 37 30% 18%;
  --input: 37 30% 18%;
  --ring: 37 79% 47%;
  --radius: 0.5rem;
}
